// 颜色
$color-primary: #6eb833;
$color-placeholder: #878da1;

// 控件尺寸
$size-control-normal: 30px;
$size-control-padding-inline-normal: 10px;
$size-control-padding-block-normal: 5px;
$size-control-margin-inline-normal: 5px;
$size-control-margin-block-normal: 5px;
$size-control-label-normal: 18px;
$size-control-border-radus: 3px;
